h1{
    font-weight: 1000;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
}

input{
    width: 100%;
}

.items-container{
    text-align: left;
}

.todo-row{
    margin: 10px 5px;
}

todo-btn{
    min-width: 80px;
    
}